.chat_side_upper {
  height: 100%;
  width: 300px;
  background-color: #253141;

  .login_user {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
  }
}
  
.chat_side_lower {
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left;


  

  
}

.chat_main {
  height: 100%;
  width: 100%;
  background-color: white;
  
  
  }